.b-office-bg {
    background-image: url(../images/Back_Office/Back-Office_Services-scaled-1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    position: relative;
}

.b-office-bg::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.377);
}

.b-office-bg-overlay {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin-top: 50px;
}

.bg-overly-txt h2 {
    font-size: 70px;
    font-weight: 700;
    line-height: 0.9em;
}

.bg-overly-txt p {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5em;
}

.ex-footer {
    margin-top: 50px;
}

.ex-footer-img p {
    font-size: 20px;
}

.ex-footer-txt {
    width: 70%;
}

.ex-footer-txt h3 {
    font-size: 35px;
    font-weight: 700;
}

.ex-footer-txt p {
    font-size: 22px;
    font-weight: 400;
}

.ex-footer-txt span,
.office-service-top span,
.client-head span,
.client-chlng-head span {
    color: #E63167;
}

.ex-footer-img {
    width: 30%;
}

.ex-footer-img img {
    width: 200px;
}

#what {
    background-color: rgb(238, 238, 238);
    padding: 30px;
}

.office-service-top h2,
.stats_head h2,
.client-head h2 {
    font-size: 42px;
    font-weight: 700;
}

.office-service-top p {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.office-item {
    height: 200px;
    width: 24%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding: 40px;
    border-radius: 0px 40px 0px 40px;
    margin-bottom: 20px;
}

.office-last:nth-child(odd) {
    background-color: #1168AD;
}

.office-last:nth-child(even) {
    background-color: #819ED4;
}

.office-first:nth-child(odd) {
    background-color: #819ED4;
}

.office-first:nth-child(even) {
    background-color: #1168AD;
}

#stats {
    margin-top: 50px;
    margin-bottom: 50px;
}

.stats-item {
    width: 200px;
}

.stats-item-txt p {
    font-size: 20px;
    font-weight: 700;
    line-height: 0.9em;
}

.client-love-bg {
    background-image: url(../images/Back_Office/HeroImage–WhyOurEcommerce-scaled.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.37);
    background-blend-mode: multiply;
}

.love-overlay-items {
    position: relative;
}

.plus {
    position: absolute;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(3, 41, 112);
    font-weight: 900;
}

.fplus {
    top: 34%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.splus {
    top: 34%;
    left: 66%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.lplus {
    bottom: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.love-overlay-item {
    width: 33.33%;
}

.love-overlay-container {
    background-color: #5174B3;
    margin: 20px 20px 20px 0px;
    border-radius: 0px 50px 0px 50px;
    min-height: 282px;
}

.love-overlay-bottom {
    margin-top: 20px;
    padding: 30px 20px;
    background-color: #1168AD;
    border-radius: 0px 40px 0px 40px;
}

.love-overlay-left {
    width: 50%;
}

.love-overlay-right {
    width: 50%;
}

.lover-overlay-rr {
    width: 50%;
}

.client-love-overlay h3 {
    font-size: 32px;
    font-weight: 700;
}

.client-love-overlay p,
.lover-overlay-rr-text {
    font-size: 18px;
    font-weight: 400;
}

.client-book {
    padding: 20px 0px;
    background-color: rgb(230, 49, 103);
    color: #fff;
}

.client-book h2 {
    font-size: 35px;
    font-weight: 400;
}

.client-book span {
    font-weight: 700;
    font-style: italic;
}

.book-btn a {
    font-weight: 700;
    background-color: #FFFFFF;
    border-radius: 0px 20px 0px 20px;
    padding: 12px 24px;
    color: rgb(3, 41, 112);
}

.client-chlng-mdl {
    position: relative;
    margin-top: 50px;
    width: 80%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(19, 64, 150);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.client-mdl-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.client-mdl-txt {
    padding: 20px 10px 20px 40px;
    width: 80%;
}

.client-mdl-img {
    width: 20%;
}

.client-mdl-img img {
    max-width: 180px;
    right: -13%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.client-chlng-footer {
    width: 80%;
    margin: auto;
}

.client-chlng-foot-container {
    background-color: rgb(255, 0, 0);
    border-radius: 40px;
}

.client-footer-main {
    padding-right: 10px;
    position: relative;
}

.client-foot-img {
    width: 25%;
}

.client-foot-img img {
    max-width: 190px;
    width: 190px;
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.client-foot-txt {
    width: 75%;
    padding: 20px;
}