.customer-bg {
    background-image: url(../images/customer_experience/CXM-scaled.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 0px;
    position: relative;
}

.customer-bg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
}

.customer-bg-overlay {}