.box {
    box-sizing: border-box;
    background-clip: padding-box;
}

.customer-bg {
    background-image: url(../images/customer_experience/CXM-scaled.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18% 0px;
    position: relative;
}

.customer-bg::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.377);
}

.customer-bg-overlay {
    width: 100%;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bg-overly-txt {
    margin-top: 60px;
}

.customer-bg-overlay h3 {
    font-size: 70px;
    font-weight: 700;
}

.customer-bg-overlay p {
    font-size: 35px;
    font-weight: 400;
}

.solution-head h3,
.solution-item-head {
    font-size: 35px;
    font-weight: 700;
}

.solution-item {
    border-radius: 0px 50px 0px 50px;
    -webkit-border-radius: 0px 50px 0px 50px;
    -moz-border-radius: 0px 50px 0px 50px;
    -ms-border-radius: 0px 50px 0px 50px;
    -o-border-radius: 0px 50px 0px 50px;
}

.solution-icon {
    margin-bottom: 20px;
}

.solution-icon svg {
    height: 4rem;
}

.solution-item-txt h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.solution-item-txt p {
    margin-bottom: 0px;
}