/* COMMON CSS START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

btn:focus,
a:focus {
    outline: none;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

input:focus {
    outline: 0 !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    display: inline-block;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    overflow-x: hidden;
    color: rgb(3, 41, 112) !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: white !important;
    color: rgb(3, 41, 112) !important;
}


/* COMMON CSS END */

.p-30 {
    padding: 30px;
}

.navbar {
    padding: 17px 10px !important;
    position: fixed !important;
    top: 0;
    z-index: 9999;
}

.shadow {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navbar-nav li a {
    color: rgb(3, 41, 112);
}

.navbar-brand {
    width: 15%;
}

.nav-btn,
.value-link,
.quality-link {
    font-weight: 700;
    background-color: #E63167;
    border-radius: 0px 20px 0px 20px;
    display: inline-block;
    line-height: 1;
    font-size: 15px;
    padding: 12px 24px;
    color: #fff;
    text-align: center;
    transition: all .3s;
}

.nav-info {
    width: 53%;
}

.navbar-nav {
    width: 90%;
    transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
}

.nav-item {
    padding: 13px 20px;
    position: relative;
}

.nav-item:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #E63167;
    bottom: 10%;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.navbar .nav-item:hover::before {
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease !important;
    -webkit-transition: 0.7s ease !important;
    -moz-transition: 0.7s ease !important;
    -ms-transition: 0.7s ease !important;
    -o-transition: 0.7s ease !important;
}

.navbar .nav-item:hover .nav-link {
    color: rgb(3, 41, 112);
}

.navbar .nav-item:hover .nav-link {
    color: rgb(3, 41, 112);
}

.dropdown-menu {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.background {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.bg-main {
    position: relative;
}

.bg-main::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
}

.bg-overly h1 {
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.bg-overly {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.experience {
    text-align: center;
    margin-top: 30px;
}

.ex-icon-item {
    width: 8%;
}

.ex-icon-txt {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.ex-main h2 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0px 2rem;
}

.ex-main p {
    font-size: 35px;
    font-weight: 400;
    padding: 0px 8rem;
    margin-bottom: 7rem;
}

.ex-com-item {
    text-align: start;
}

.ex-com-head {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.p-30 {
    padding: 30px !important;
}

.ex-com-p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.ex-com-link a {
    color: #E63167;
    font-weight: 600;
}

.ex-com-link {
    position: relative;
}

.ex-com-link::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: #E63167;
}

.expectation {
    margin: 30px 0px;
}

.expectation h2 {
    font-size: 70px;
    font-weight: 700;
}

.expectation_head p {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

.expectation_main {
    background-image: url(https://quantanite.com/wp-content/uploads/2022/09/squiggles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.value_main,
.quality_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-img,
.quality-img {
    width: 25%;
}

.value-txt,
.quality-txt {
    width: 75%;
    padding: 30px;
}

.quality-txt {
    text-align: end;
}

.value-name p,
.quality-name p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.value-h3 h3,
.quality-h3 h3 {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20PX;
}

.value-p p {
    padding-right: 15rem;
}

.quality-p p {
    padding-left: 15rem;
}

.nps-score {
    max-width: 650px;
    margin: 80px auto;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D9D9D9;
    box-shadow: 0px 10px 20px 10px rgba(3.0000000000000018, 41.000000000000014, 112, 0.06);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 0px 50px 0px 50px;
    background-color: #fff;
}

.score_txt {
    width: 62%;
    padding: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}

.w-120 {
    width: 120%;
}

.score_main {
    width: 38%;
    padding: 30px;
}

.nps-quote {
    background-color: #E5F9FF;
    background-image: url('../images/grey_quote_background_tablet_final-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 650px;
    margin: 80px auto;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D9D9D9;
    box-shadow: 0px 10px 20px 10px rgba(3.0000000000000018, 41.000000000000014, 112, 0.06);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 0px 50px 0px 50px;
    padding: 30px;
}

.top-txt {
    margin-bottom: 20px;
}

.top-txt h4 {
    font-size: 28px;
    font-weight: 700;
}

.top-txt p {
    font-size: 18px;
    font-weight: 600;
}

.bottom-txt p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.score-last p {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.score-item h5 {
    font-size: 22px;
    font-weight: 700;
}

.team-bg {
    background-color: rgb(3, 41, 112);
    padding: 20px;
}

.team-bg-txt {
    width: 40%;
}

.team-bg-img {
    width: 50%;
}

.team-bg-txt a {
    color: #E63167;
}

.team-bg-line {
    position: relative;
}

.team-bg-line p {
    margin: 0px;
}

.team-bg-line::before {
    position: absolute;
    content: '';
    width: 45%;
    height: 3px;
    background-color: #E63167;
    bottom: -5px;
    right: 0;
}

.team-bg-img img {
    border-radius: 0px 40px 0px 40px;
    overflow: hidden;
}

.team-bg-txt h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 20px;
}

.team-bg-txt h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.team-bg-img {
    padding: 30px;
}

.form {
    width: 50%;
}

.contact-txt {
    width: 50%;
}

.contact-txt h3 {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: 700;
}

.contact-txt p {
    font-size: 26px;
    font-weight: 400;
}

.form input,
.form select,
.form textarea {
    width: 100%;
    font-weight: 400;
    background-color: #fff;
    color: #4a4e56;
    border: none;
    border-radius: 0 20px 0 20px;
    font-size: 16px;
    min-height: 47px;
    padding: 6px 16px;
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    -ms-border-radius: 0 20px 0 20px;
    -o-border-radius: 0 20px 0 20px;
}

.form .btn {
    width: max-content !important;
    padding: 0px 40px;
    background-color: rgb(3, 41, 112);
    font-weight: 700;
    font-size: 15px !important;
    line-height: 15px !important;
    color: #fff;
}

textarea {
    resize: none;
    color: #4a4e56 !important;
}

#contact {
    background-color: rgb(120, 161, 187);
    padding: 30px;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
        border: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 5%;
    }
}


/* ============ desktop view .end// ============ */