/* COMMON CSS START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

btn:focus,
a:focus {
    outline: none;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}

input:focus {
    outline: 0 !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    display: inline-block;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    overflow-x: hidden;
    color: rgb(3, 41, 112) !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: white !important;
    color: rgb(3, 41, 112) !important;
}


/* COMMON CSS END */

.animate__animated.animate__fadeInLeftBig,
.animate__animated.animate__fadeInRightBig {
    --animate-duration: 3s;
}

.p-30 {
    padding: 30px;
}

.navbar {
    padding: 17px 10px !important;
    position: fixed !important;
    top: 0;
    z-index: 9999;
}

.shadow {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navbar-nav li a {
    color: rgb(3, 41, 112);
}

.navbar-brand {
    width: 15%;
}

.nav-btn,
.value-link,
.quality-link {
    font-weight: 700;
    background-color: #E63167;
    border-radius: 0px 20px 0px 20px;
    display: inline-block;
    line-height: 1;
    font-size: 15px;
    padding: 12px 24px;
    color: #fff;
    text-align: center;
    transition: all .3s;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 !important;
}

.nav-mobile li a {
    font-size: 13px;
    color: #032970 !important;
}

.drop-show1,
.drop-show2,
.drop-show3,
.drop-show4 {
    display: none;
}

.nav-mobile ul {
    padding: 0 !important;
    margin: 0 !important;
}

.nav-mobile-lists {
    display: none;
}

.nav-info {
    width: 85%;
}

.navbar-nav {
    width: 100%;
    transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;
}

.nav-item {
    padding: 13px 20px;
    position: relative;
}

#navs .nav-item:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #E63167;
    bottom: 10%;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

#navs .navbar .nav-item:hover::before {
    opacity: 1;
    visibility: visible;
    transition: 0.7s ease !important;
    -webkit-transition: 0.7s ease !important;
    -moz-transition: 0.7s ease !important;
    -ms-transition: 0.7s ease !important;
    -o-transition: 0.7s ease !important;
}

.nav-mobile .nav-item:before {
    width: 0px;
    height: 0px;
}

.navbar .nav-item:hover .nav-link {
    color: rgb(3, 41, 112);
}

.navbar .nav-item:hover .nav-link {
    color: rgb(3, 41, 112);
}

.dropdown-menu {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.background {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.bg-main {
    position: relative;
}

#video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bg-main::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
}

.bg-overly h1 {
    color: #fff;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.bg-overly {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.experience {
    text-align: center;
    margin-top: 30px;
}

.ex-icon-item {
    width: 10%;
}

.ex-icon-txt {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.ex-main h2 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0px 2rem;
}

.ex-main p {
    font-size: 35px;
    font-weight: 400;
    padding: 0px 8rem;
    margin-bottom: 7rem;
}

.ex-com-item {
    text-align: start;
}

.ex-com-head {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.p-30 {
    padding: 30px !important;
}

.ex-com-p {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.ex-com-link a {
    color: #E63167;
    font-weight: 600;
}

.ex-com-link {
    position: relative;
}

.ex-com-link::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: calc(100% + 10px);
    height: 2px;
    background-color: #E63167;
}

.expectation {
    margin: 30px 0px;
}

.expectation h2 {
    font-size: 70px;
    font-weight: 700;
}

.expectation_head p {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 30px;
}

.expectation_main {
    background-image: url(https://quantanite.com/wp-content/uploads/2022/09/squiggles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.value_main,
.quality_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-img,
.quality-img {
    width: 25%;
}

.value-txt,
.quality-txt {
    width: 75%;
    padding: 30px;
}

.quality-txt {
    text-align: end;
}

.value-name p,
.quality-name p {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

.value-h3 h3,
.quality-h3 h3 {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20PX;
}

.value-p p {
    padding-right: 15rem;
}

.quality-p p {
    padding-left: 15rem;
}

.nps-score {
    max-width: 650px;
    margin: 80px auto;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D9D9D9;
    box-shadow: 0px 10px 20px 10px rgba(3.0000000000000018, 41.000000000000014, 112, 0.06);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 0px 50px 0px 50px;
    background-color: #fff;
}

.score_txt {
    width: 62%;
    padding: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2em;
}

.w-120 {
    width: 120%;
}

.score_main {
    width: 38%;
    padding: 30px;
}

.nps-quote {
    background-color: #E5F9FF;
    background-image: url('../images/grey_quote_background_tablet_final-1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 650px;
    margin: 80px auto;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D9D9D9;
    box-shadow: 0px 10px 20px 10px rgba(3.0000000000000018, 41.000000000000014, 112, 0.06);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 0px 50px 0px 50px;
    padding: 30px;
}

.top-txt {
    margin-bottom: 20px;
}

.top-txt h4 {
    font-size: 28px;
    font-weight: 700;
}

.top-txt p {
    font-size: 18px;
    font-weight: 600;
}

.bottom-txt p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.score-last p {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.score-item h5 {
    font-size: 22px;
    font-weight: 700;
}

.team-bg {
    background-color: rgb(3, 41, 112);
    padding: 20px;
}

.team-bg-txt {
    width: 40%;
}

.team-bg-img {
    width: 50%;
}

.team-bg-txt a {
    color: #E63167;
}

.team-bg-line {
    position: relative;
}

.team-bg-line p {
    margin: 0px;
}

.team-bg-line::before {
    position: absolute;
    content: '';
    width: 45%;
    height: 3px;
    background-color: #E63167;
    bottom: -5px;
    right: 0;
}

.team-bg-img img {
    border-radius: 0px 40px 0px 40px;
    overflow: hidden;
}

.team-bg-txt h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 20px;
}

.team-bg-txt h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.team-bg-img {
    padding: 30px;
}

.form {
    width: 50%;
}

.contact-txt {
    width: 50%;
}

.contact-txt h3 {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: 700;
}

.contact-txt p {
    font-size: 26px;
    font-weight: 400;
}

.form input,
.form select,
.form textarea,
footer #emails {
    width: 100%;
    font-weight: 400;
    background-color: #fff;
    color: #4a4e56;
    border: none;
    border-radius: 0 20px 0 20px;
    font-size: 16px;
    min-height: 47px;
    padding: 6px 16px;
    -webkit-border-radius: 0 20px 0 20px;
    -moz-border-radius: 0 20px 0 20px;
    -ms-border-radius: 0 20px 0 20px;
    -o-border-radius: 0 20px 0 20px;
}

.form .btn {
    width: max-content !important;
    padding: 0px 40px;
    background-color: rgb(3, 41, 112);
    font-weight: 700;
    font-size: 15px !important;
    line-height: 15px !important;
    color: #fff;
}

.btn:hover {
    background-color: rgb(3, 41, 112) !important;
    color: #fff !important;
}

textarea {
    resize: none;
    color: #4a4e56 !important;
}

#contact {
    background-color: rgb(120, 161, 187);
    padding: 30px;
}

.footer-item1,
.footer-item2,
.footer-item3,
.footer-item4,
.footer-item5 {
    padding: 20px;
}

.footer-item1 {
    width: 20%;
}

.footer-item2 {
    width: 15%;
}

.footer-item3 {
    width: 15%;
}

.footer-item4 {
    width: 15%;
}

.footer-item5 {
    width: 35%;
}

.footer-main ul {
    padding: 0;
}

.footer-item-head {
    font-weight: 700;
}

.footer-item-list ul li a {
    color: #032970 !important;
}

.footer-icons i {
    font-size: 25px;
}

.footer-cookie a {
    color: #032970 !important;
}

.footer-img {
    margin-left: -1rem;
}

.footer-news-txt {
    color: #03297078;
}

footer .subs-input {
    width: 60%;
}

footer #emails {
    width: 100%;
    font-weight: 400;
    background-color: rgb(242, 242, 242);
    color: #4a4e56;
    border: none;
    border-radius: 0 0px 0 20px;
    font-size: 16px;
    min-height: 47px;
    padding: 6px 16px;
    -webkit-border-radius: 0 0px 0 20px;
    -moz-border-radius: 0 0px 0 20px;
    -ms-border-radius: 0 0px 0 20px;
    -o-border-radius: 0 0px 0 20px;
}

footer .subs-btn {
    width: 40%;
}

footer .subs-btn .subs {
    background-color: #E63167;
    color: #fff;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 0 20px 0 0px;
    font-size: 16px;
    padding: 11px 16px;
    -webkit-border-radius: 0 20px 0 0px;
    -moz-border-radius: 0 20px 0 0px;
    -ms-border-radius: 0 20px 0 0px;
    -o-border-radius: 0 20px 0 0px;
}

.ex-icon {
    gap: 25px;
}


/* ============ desktop view ============ */

@media all and (max-width: 1600px) {
    .value-h3 h3 {
        padding-right: 30%;
    }
    .quality-h3 h3 {
        padding-left: 30%;
    }
}

@media all and (max-width: 1200px) {
    .value-h3 h3 {
        padding-right: 20%;
    }
    .quality-h3 h3 {
        padding-left: 20%;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
        border: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 5%;
        margin-left: -15%;
    }
}

@media all and (max-width: 992px) {
    .ex-icon-item {
        width: 16%;
    }
    .ex-icon {
        gap: 25px;
    }
    .bg-overly h1 {
        font-size: 45px;
    }
    .ex-main h2,
    .expectation h2 {
        font-size: 45px;
    }
    .ex-main p {
        font-size: 20px;
    }
    .ex-main p {
        padding: 0px 4rem;
    }
    .nav-button .nav-btn {
        font-size: 12px;
    }
    .nav-info {
        width: 25%;
    }
    .quality-txt,
    .quality-img,
    .value-img,
    .value-txt {
        width: 50%;
    }
    .value-h3 h3 {
        padding-right: 5%;
    }
    .quality-h3 h3 {
        padding-left: 5%;
    }
    .value-p p,
    .quality-p p {
        padding-right: 0rem;
    }
    .value-p p,
    .quality-p p {
        padding-left: 0rem;
    }
}

@media only screen and (max-width: 1198px) {
    .nav-info {
        width: 20%;
    }
    #main_nav {
        display: none;
    }
    .hidden {
        display: block !important;
    }
    .nav-mobile-lists {
        display: block;
    }
    .bg-overly h1 {
        font-size: 55px;
    }
    .ex-main h2,
    .expectation h2 {
        font-size: 55px;
    }
    .ex-main p {
        font-size: 30px;
    }
}

@media all and (max-width: 767px) {
    .navbar-brand {
        width: 35%;
    }
    .nav-button {
        display: none;
    }
    .nav-info {
        width: 10%;
    }
    .ex-icon-item {
        width: 20%;
    }
    .ex-icon {
        gap: 25px;
    }
    .bg-overly h1 {
        font-size: 40px;
    }
    .ex-main h2,
    .expectation h2 {
        font-size: 40px;
    }
    .ex-main p {
        font-size: 25px;
    }
    .ex-main p {
        padding: 0px 2rem;
    }
    .ex-com-head {
        margin-top: 20px;
    }
    .ex-com-img {
        width: 60%;
        margin: auto;
    }
    .value-h3 h3 {
        padding-right: 0%;
    }
    .quality-h3 h3 {
        padding-left: 0%;
    }
    .value_main,
    .quality_main {
        flex-direction: column-reverse;
    }
    .quality-txt,
    .value-txt {
        width: 100%;
    }
    .quality-img,
    .value-img {
        width: 70%;
    }
    .team-bg-main {
        display: flex !important;
        flex-direction: column;
    }
    .team-bg {
        padding: 4rem 0px;
    }
    .team-bg-txt {
        width: 100%;
        padding: 0px 2rem;
    }
    .team-bg-img {
        width: 100%;
    }
    .team-bg-txt h2 {
        font-size: 32px;
        line-height: 2.4rem;
    }
    .contact-main {
        display: flex !important;
        flex-direction: column-reverse;
    }
    .form {
        width: 100%;
    }
    .contact-txt {
        width: 100%;
    }
    .contact-txt h3 {
        font-size: 36px;
    }
    .footer-item1,
    .footer-item5 {
        width: 100%;
    }
    .footer-item2,
    .footer-item3,
    .footer-item4 {
        width: 50%;
    }
    .footer-img {
        width: 50%;
    }
    footer .subs-input {
        width: 50%;
    }
    footer .subs-btn {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .ex-main p {
        padding: 0px .5rem;
    }
    .ex-main h2,
    .expectation h2 {
        padding: 0px 0.5rem;
    }
}

@media only screen and (max-width: 1025px) {
    .background {
        min-height: 600px;
    }
    .bg-main {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .marginy-20 {
        margin-top: 24px !important;
    }
    #contact {
        padding: 0px;
    }
    .nps-score {
        display: flex !important;
        flex-direction: column-reverse;
    }
    .score_txt {
        width: 100%;
    }
    .score_main {
        width: 60%;
        margin: auto;
    }
    .reverse {
        flex-direction: column !important;
    }
    .w-120 {
        width: 100%;
    }
}


/* ============ desktop view .end// ============ */